<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <h1>I'm looking for<strong>My Spare</strong> ...</h1>
      <div>
        <%= render 'instruments/search_form' %>
      </div>
      <p>Never miss another Jam!.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
<div id="main-container" class="main-container">

</div>
