.cards-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 18px;
}

.cards-grid > a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.card-instrument {
  overflow: hidden;
  background: rgb(234, 234, 234);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1rem;
  height: 368px;
  position: relative;
  transition: all .2s ease-in-out;
}

.card-instrument:hover  {
  background: rgb(255, 255, 255);
  transition-delay:0.08s;
  transform: scale(1.05);
  transition: transform 0.5s;
  box-shadow: 0 0 18px rgba(0,0,0,0.5);
}

.card-instrument:hover .card-notice {
  visibility: visible;
}

.card-instrument > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.card-instrument-infos {
  padding: 10px;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #8e8e8ea8;
}

.card-distance-owner {
  text-align: center;
}

.card-distance-owner > p {
  text-shadow: none;
}

.card-price {
  position: absolute;
  padding: 3px;
  bottom: 16px;
  right: 16px;
  opacity: 0.7;
}
.card-notice {
  position: absolute;
  background: rgb(185, 0, 0);
  padding-right: 30px;
  padding-left: 30px;
  bottom: 40px;
  left: -50px;
  font-size: 14px;
  font-size: 14px;
  color: white;
  visibility: hidden;
  rotate: (45deg);
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
