.main-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.cards{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 370px);
  grid-gap: 16px;
}

.cards > a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.card-instrument {
  overflow: hidden;
  background: rgb(234, 234, 234);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 1rem;
  height: 100%!important;
  position: relative
}

.card-instrument:hover  {
  background: rgb(255, 255, 255);
  transition-delay:0.08s;
  transform: translateY(-8px);
  transition: transform 0.5s;
  box-shadow: 0 0 18px rgba(0,0,0,0.5);
}

.card-instrument > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-instrument h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-instrument p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-instrument .card-instrument-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-instrument-infos .card-instrument-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-instrument-pricing {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
