.booked_by {
 text-decoration: underline;
}
.o-btn-delete {
  text-decoration: none;
  color: black;
  background-color: $white;
  transform: scale(1.00);
}
.o-btn-delete:hover {
  text-decoration: none;
  color: black;
  background-color: $white;
  transform: scale(1.00);
}
.o-btn-delete:focus {
  text-decoration: none;
  color: black;
  background-color: $white;
  transform: scale(1.00);
}
.o-btn-delete:active {
  text-decoration: none;
  color: black;
  background-color: $white;
  transform: scale(1.00);
}
.o-btn-delete-s{
  position: absolute;
  text-decoration: none;
  color: black;
  background-color: $white;
  transform: scale(1.00);
  padding: 5px;
  bottom: 15px;
  right: 16px;
}
