.navbar-myspare {
  justify-content: space-between;
  background: $o-blue;
  color: $light-gray;

}

#link_home {
  padding-left: 1rem;
  text-decoration: none;
  color: $white;
}

.navbar-myspare .navbar-collapse {
  flex-grow: 0;
}

.navbar-myspare .navbar-brand img {
  width: 40px;
}
