.navbar-myspare {
  justify-content: space-between;
  background: $o-blue;
  color: $light-gray;
}

.navbar-myspare > h2 {
padding-left: 1rem;
}

.navbar-myspare .navbar-collapse {
  flex-grow: 0;
}

.navbar-myspare .navbar-brand img {
  width: 40px;
}
