.navbar-myspare {
  justify-content: space-between;
  background: $o-blue;
  color: $light-gray;
  padding-left: 1rem;
  padding-right: 1rem;
}

#link_home {
  font-size: 30px;
  text-decoration: none;
  color: $white;
}

.nav-link{
  color: $white;
}

.navbar-myspare .navbar-collapse {
  flex-grow: 0;
}

.navbar-myspare .navbar-brand img {
  width: 40px;
}
