<%= simple_form_for [instrument, booking] do |f| %>
  <div class="form-inputs">
  <%= f.input :start_date, as: :string,
  input_html: { data: { controller: "datepicker", mode: "range", 'datepicker-bookings-value': @instrument_bookings } } %>
  </div>
  <div class="form-actions">
  <%= f.button :submit %>
  </div>
<% end %>
